<html>

<body>
    <div class="container-home">
    <h1 class="title-text">Quer saber quem está gastando o <br> que no estado do ceará? </h1>
    <h3 class="subtitle-text"> Verifique as despesas, as datas, e os fornecedores dos candidatos de 2020. </h3>
        <a href="/candidato" class="btn btn-primary" role="button">Suba seu arquivo...</a>
    </div>
</body>

</html>