<html>

<body>
    <h1><%= @deputados %></h1>
    
    <ul>
        <li> <% if params[:controller] == "candidato" %> <% end %>
            <a href="/candidato"> Iniciar </a>
        </li>
    </ul>
</body>

</html>